<div class=" row h-100 ml-10">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right border-dark m-0 p-0">
    <p class="bg-primary text-center">
        <strong class="text-white">Skills: </strong>
    </p>
    <ul>
      <li>
        <strong>Languages: </strong>
        JavaScript, TypeScript, Java
      </li>
      <li>
        <strong>Frameworks:</strong>
        AngularJS, Bootstrap, Ionic-3, Angular-5, Spring-MVC, J2EE</li>
      <li>
        <strong>Database:</strong>
        MySQL
      </li>
      <li>
        <strong>Markup Languages:</strong>
        HTML, CSS, JQuery
      </li>
      <li>
        <strong>Project Methodology:</strong>
        Agile
      </li>
      <li>
        <strong>Operating Systems:</strong>
        Linux, Windows
      </li>
      <li>
        <strong>IDE & Tools:</strong>
        IntelleJ, Visual Studio, Android Studio, Eclipse, MySQL Workbench
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-0 p-0">
    <p class="bg-primary text-center">
      <strong class="text-white">Expereince</strong>
    </p>
    <ul>
      <li>
        <strong>Total Experience: </strong>
        2 years 6 months
      </li>
      <li>
        <strong>Current Designation: </strong>
        Software Developer
      </li>
      <li>
        <strong>Current Company Name: </strong>
        Simply Compete Info Solution Pvt. Ltd.
      </li>
      <li>
        <strong>Current Location: </strong>
        Pune, India
      </li>
    </ul>
  </div>
</div>

<div class=" row h-100 ml-10">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right border-dark m-0 p-0">
    <p class="bg-primary text-center">
      <strong class="text-white">Projects: </strong>
    </p>
    <ul>
      <li>
        <strong>WT Events Mobile Application</strong>
        <br>
        Displayed list of events to the users.
        Worked on a photo gallery of the events.
        Worked on displaying documents list to the users on mobile for the event which can be downloaded.
        Worked on displaying matches and their results to the users.
        Worked on Calendar view of the event sessions.
        Worked on a barcode scanner for events.
        <br>
        <u>Technologies used: </u>TypeScript,  Ionic-3 , Angular-5, HTML, CSS
      </li>
      <li>
        <strong>Invitation Based Events</strong>
        <br>
        Worked on a feature where only users invited by an admin can register for the particular event.
        Worked on a feature where one user can invite another user and that invited user can either accept or reject the invitation for an event.
        Created a functionality using which admin can check-in or check-out users for an event.
        <br>
        <u>Technologies used: </u>JavaScript, Java,  AngularJS, Bootstrap, Spring-MVC, J2EE, MySQL,  HTML, CSS
      </li>
      <li>
        <strong>Course and Certificates Management</strong>
        <br>
        Worked on the UI for courses and course content.
        Developed an invitation based courses functionality.
        Developed a functionality so that only users who completed the course, can get the associated certificate.
        <br>
        <u>Technologies used: </u>JavaScript, Java,  AngularJS, Bootstrap, Spring-MVC, J2EE, MySQL,  HTML, CSS
      </li>
      <li>
        <strong>Leagues Management</strong>
        <br>
        Worked in a team of 4 people.
        Led the team for this project.
        Worked on Tournament Generator.
        Will be launched once the USA table tennis toutnaments start.
        <br>
        <u>Technologies used: </u>JavaScript, Java,  AngularJS, Bootstrap, Spring-MVC, J2EE, MySQL,  HTML, CSS
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 m-0 p-0">
    <p class="bg-primary text-center">
      <strong class="text-white">Contribution: </strong>
    </p>
    <ul>
      <li>Leading a team to develop new features for the platform.</li>
      <li>Maintaining team coordination.</li>
      <li>Training newly joined people.</li>
      <li>Analysis & development of features as per the business requirement.</li>
      <li>Working on the bug fixes of the application.</li>
      <li>Involved in preparation of unit test case documents.</li>
      <li>Validation of developed scenarios as per business requirement.</li>
      <li>Prepared documentation for the application.</li>
      <li>Beautify the front-end as per client’s requirement using CSS and bootstrap templates.</li>
      <li>Self-Code review activity.</li>
      <li>Implementation of change requests for the enhancements as required by the clients.</li>
    </ul>
  </div>
</div>